{% extends 'home/base.html' %}

{% block content %}
    <section class="content-header">
        <h1>
            소프트웨어융합대학 트랙관리시스템
            <small>Sejong univ. SW Track</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Main</a></li>
            <li class="active">공지</li>
            <li class="active">HOME</li>
        </ol>
    </section>

    <section class="content-header">
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                        <br>
                        <p class="text-center"><img src="static/dist/img/logo.png" style="width: 300px; height: 300px; margin-top: 30px;"></p>
                        <p class="text-center" style="font-size: 200%; margin-top: 20px;"><br><b>세종대학교<br>소프트웨어융합대학<br>트랙관리시스템</b>
                            <br><br><br></p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-warning"></i> 오픈 베타 서비스 이용 대상 안내</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                2018 세종 창의학기제 소프트웨어융합대학 트랙관리 프로그램
                                <br>이번 오픈 베타는 다음의 조건에 모두 해당하는 학생 사용자에 한해서 이용이 가능합니다.
                                <br>
                                <br>1. 현재 uis.sejong.ac.kr에서 기이수성적.xls을 첨부해 트랙정보를 조회할수 있습니다.
                                <br>2. 현재 소프트웨어융합대학에 해당하는 과만 조회할수 있습니다.(지능기전, 소프트웨어, 정보보호, 컴퓨터, 데이터사이언스, 창의소프트)
                                <br>3. 현재 트랙정보 조회는 카카오 챗봇인 SW Track을 통해 제공하고 있으며 현재 전체 트랙 조회만 지원하고 있습니다.
                                <br>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                세종대학교 소프트웨어융합대학 트랙관리시스템
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-warning"></i> 시스템 오류 신고 안내</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                안녕하세요. 세종대학교 소프트웨어융합대학 트랙관리 프로그램 팀입니다.
                                <br>현재 이페이지는 금요일 창의융합콘서트 시연을 위한 페이지 이며 추후 기능들을 추가할 예정입니다.
                                <br>
                                <br><strong>팀장 이메일: riyenas0925@gmail.com</strong>
                                <br><strong>깃허브 주소: <a href = "https://github.com/riyenas0925/Sejong_SW_Track_Management">Sejong_SW_Track_Management</a></strong>
                                <br>
                                <br>추가 되었으면 하는 기능이나 오류를 발견하셨다면 위의 이메일이나 깃허브 이슈를 통해 보내주시면 감사하겠습니다.
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                세종대학교 소프트웨어융합대학 트랙관리시스템
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- /.content -->
{% endblock %}