{% extends 'home/base.html' %}

{% block content %}
    <section class="content-header">
        <h1>
            소프트웨어융합대학 트랙관리시스템
            <small>Sejong univ. SW Track</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Main</a></li>
            <li class="active">공지</li>
            <li class="active">HOME</li>
        </ol>
    </section>

    <section class="content-header">

    </section>
    <!-- /.content -->
{% endblock %}