{% extends 'home/base.html' %}

{% block content %}
    <section class="content-header">
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                        <p class="text-center"><img src="static/dist/img/logo.png" style="width: 300px; height: 300px; margin-top: 30px;"></p>
                        <p class="text-center" style="font-size: 200%; margin-top: 20px;"><b>세종대학교<br>졸업관리시스템</b></p>
                        <p class="text-center" style="font-size: 150%; margin-top: 40px;"><i>Open Beta<br>2018. 09. 05. (Wed) ~ 2018. 09. 07. (Fri)</i></p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-warning"></i> 오픈 베타 서비스 이용 대상 안내</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                안녕하세요. 세종대학교 404E 개발팀입니다.
                                <br>이번 오픈 베타는 다음의 조건에 모두 해당하는 학생 사용자에 한해서 이용이 가능합니다.
                                <br>
                                <br>1. 신입학 전형으로 2013년 이후 입학한 학생 (편입학 학생은 이용 불가)
                                <br>2. 전자정보공학대학(컴퓨터공학, 정보보호학, 디지털콘텐츠학), 소프트웨어융합대학(컴퓨터공학, 정보보호학, 소프트웨어학, 데이터사이언스학, 지능기전공학) 소속 학생
                                <br>3. 복수전공, 연계전공, 부전공, 제2전공, ROTC, 학석사 연계 예비생 및 교직과정 이수자에 모두 해당하지 않는 학생 (조기졸업 대상자는 이용 가능)
                                <br>4. 교환학생, 파견학생 및 타 대학 교류 등의 사유로 타 대학에서 이수한 과목 기록이 없는 학생
                                <br>
                                <br>오픈 베타 서비스는 시스템 검증을 위해 제한된 인원의 학생들에게 먼저 제공되며, 이후 정식 버전에서 이용 대상 범위가 확대될 예정입니다. 고맙습니다.
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                세종대학교 졸업관리시스템
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-warning"></i> 시스템 오류 신고 안내</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                안녕하세요. 세종대학교 404E 개발팀입니다.
                                <br>오픈 베타 서비스 기간 동안에 발생한 오류는 즉시 개발팀으로 신고하여 주시기 바랍니다.
                                <br>
                                <br><strong>개발팀 이메일: team404e@gmail.com</strong>
                                <br>
                                <br>여러분의 적극적인 오류 신고가 더 나은 졸업관리시스템을 만듭니다. 고맙습니다.
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                세종대학교 졸업관리시스템
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- /.content -->
{% endblock %}