{% extends 'home/base.html' %}

{% block content %}

    <section class="content-header">
        <h1>
            공지사항
            <small>Sejong univ. SW Track</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Main</a></li>
            <li class="active">공지</li>
            <li class="active">공지사항</li>
        </ol>
    </section>

    <section class="content-header">
        <div style="padding-top: 10px;">

                {% for post in posts %}
            <div class="col-md-6">
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">
                        {{post.title}}
                    </h3>
                    <div class="box-tools pull-right">
                      <!-- Collapse Button -->
                    </div>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    {{post.text}}
                  </div>
                  <!-- /.box-body -->
                  <!-- box-footer -->
                </div>
                <!-- /.box -->
            </div>
                {% endfor %}


        </div>
        </section>
        <!-- /.content -->

{% endblock %}