{% extends 'home/base.html' %}

{% block content %}
    <section class="content-header">
            <h1>
                메인페이지
                <small>스프링연습예제</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Main</a></li>
                <li class="active">Home</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <p>메인 페이지입니다.</p>

            {% if form.errors %}
                <p style="color: red;">
                    Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}

            <form action="" enctype="multipart/form-data"  method="post">
                <table>
                    {{ form.as_table }}
                </table>
                {% csrf_token %}
                <input type="submit" value="Submit">
            </form>
        </section>
        <!-- /.content -->
{% endblock %}
